* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'plain light';

  color: white;
}

/* crsr */
#crsr{
    height: 2.6vw;
    width: 2.6vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1.4px solid rgb(187, 185, 185);
    position: fixed;
    z-index: 99999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0B0B0B ;
    z-index: 999;
    padding: 25vh 10vw;
}
.line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: fit-content;
    gap: 3vw;
    
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    

}
#line1-part1 h5 {
    width: 5vw;
    text-align:right;
}

#line1-part1 h5 , #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration:2s;
    animation-iteration-count: infinite;

}
@keyframes anime {
   0%{
    font-family: "plain light";
    -webkit-text-stroke: 1.2px #fff;
    color:#0B0B0B ;
    font-weight: 500;
    opacity: 1;
}
48%{
    font-family: "plain light";
    -webkit-text-stroke: 1.2px #fff;
    color:#0B0B0B ;
    font-weight: 500;
    opacity: 0;
   }

   50%{
    font-family: "silk serif";
     -webkit-text-stroke: 1.2px #fff;
    color:transparent ;
    font-weight: 500;
    opacity: 1;
}
100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1.2px #fff;
    font-weight: 500;
    color:transparent ;
    opacity: 0;
   }
}

#main {
    position: relative;
    background-color:#0B0B0B;
}
/*  */
#page1 {
    height: 100vh;
    width: 100vw;
    background: #151515;
    
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 6vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4 {
    font-weight: 200;
   
}

.hero{
    width: 72%;
    margin-left: 27%;
    margin-top: 0.3vw;
    
    
    
}
.hero:nth-child(2){
    margin-top: 18vh;
    
}
.hero h1{
    font-weight: 900;
   
    letter-spacing:0.4vw;
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
   


}